:root {
    --grey: #f5f5f5;
    --blue: #3d88f9;
    --black: #1a1a1a;
}

/* Ensure navbar is not hidden */
.navbar {
    z-index: 1000;
    display: block !important;
}

.chat-window {
    display: flex;
    box-shadow: none;
    background-color: gray;
    border-radius: 0; 
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.chat {
    flex: 1;
    padding: 0 8px;
    overflow-y: scroll;
}

.chat p {
    border-radius: 20px;
    width: 80%;
    margin: 8px 0;
    font-size: 16px;
    padding: 16px;
}

.chat div.model p { 
    background-color: #f5f5f5;
}

.chat div.user {
    display: flex;
    justify-content: flex-end;
}

.chat div.user p {
    background-color: #043927;
    color: white;
}

.chat div.error p {
    font-size: 14px;
    text-align: center;
    color: red;
}

.input-area {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease; /* Add transition MAKE SMOOTH POTENTIALLY */
    width: 50%;
}

.input-area.bottom {
    position: static;
    transform: none;
    border-top: 1px solid #f5f5f5; 
    width: 100%; 
}

.input-area input {
    height: 40px;
    flex: 1;
    border: none;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 16px;
}

.input-area button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    margin-left: 12px;
    background-color: #043927;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input-area button img {
    width: 18px;
}

.input-area button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loader {
    width: 40px;
    opacity: 0.4;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1.5s steps(4) infinite;
}

@keyframes l1 {
    to {
        clip-path: inset(0 -34% 0 0);
    }
}